@import "./../../style/style.scss";
@import "./../../colors.scss";

.mainLayout {
  min-height: 100vh;
  height: max-content;
  background-color: #E5E9EF;
  padding: 24px;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.loadingLayout {
  background-color: #E5E9EF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .MuiLinearProgress-root {
      width: 50%;
    }

}

