.cardContainer {
    width: 250px;
    min-width: 250px;
    height: 326px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 1px 7px -2px #7e7d88;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 326px;
    margin: 12px;

    .cardHeader {
        padding: 8px;
        background-color: #F3A613;
        border-radius: 5px 5px 0px 0px;
        font-size: 18px;
        color: #2c3c3c;
        font-weight: bold;
        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .cardBody {
        font-size: 14px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .status {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            
            .statusIcon {
                font-size: 12px;
                margin-right: 4px;

                &.planning, &.commited{
                    color: blue;
                }
                &.ready_to_start, &.in_progress, &.completed{
                    color: green;
                }
                &.paused, &.stopped, &.cancelled{
                    color: red;
                }
            }
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            font-weight: 200;
            margin-bottom: 24px;
            word-break: break-word;
        }
    }

    .cardFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        bottom: 0;
        background-color: #F7F7F7;
        border-radius: 0px 0px 5px 5px;
        padding: 8px;
        box-sizing: border-box;
        color: #2c3c3c;
        height: 80px;
        border-top: solid 1px #dccbcb;

        .footerElement {
            text-align: center;

            .footerElementTitle {
                font-weight: bold;
            }

            .footerElementValue {
        
                text-transform: uppercase;
                font-size: xx-large;
                font-weight: normal;

                &.max{
                    color: white;
                    background-color: red;
                }
                &.high{
                    color: red;
                }
                &.medium{
                    color: orange;
                }
                &.low{
                    color: green;
                }
                &.min{
                    color: blue;
                }
            }
        }
    }
    &.disabled {
        opacity: 0.4;
        .cardHeader {
            background-color: #a1a4aa;
        }
        .cardBody {
            background-color: #d8dbe0;
            .status {
                text-decoration: line-through;
                .statusIcon {
                    color: black;
                }
            }
        }
        .cardFooter {
            background-color: #a1a4aa;
            .footerElement {
            .footerElementValue {
                text-decoration: line-through;
                color: black;
            }
        }

        }
        color:black;
    }
}

.cardContainer:hover:not(.disabled) {
    box-shadow: 3px 3px 7px -2px #6f6aa8;
    transition: box-shadow 0.25s;
    cursor: pointer;
}