$regalia:#522D80;
$college:#333333;
$diploma:#2E1A47;
$parchment:#EFDBB2;
$campus:#B94700;
$bowman:#546223;
$blue_ridge:#005EB8;
$state:#00205B;
$stadium:#CBC4BC;
$howard:#8C8279;
$reflection:#C8C9C7;
$innovation:#888B8D;
$bengal:#000000;

